// fonts
$primary-font: "Rubik", sans-serif;
$regular-weight: 400;
$bold-weight: 700;

// colors
$primary-color: #4a4a4a; /* texto del menú */
$light-color: #3cdbc0; /* color de fondo de la página */
$dark-color: #ffffff; /* color de texto de "Creando diversidad digital" */

// BREAKPOINTS
$tablet: 768px;